
    .personal {
        display: block;
    }
    .header-img {
        position: relative;
        top: -4.4vw;
        width: 100%;
        height: 50%;
        z-index: -1;
    }
    .header-text {
        position: relative;
        top: 6vw;
        text-align: center;
        color: white;
        font-size: 40px;
    }
    .personal-info {
        position: relative;
        top: -12vw;
        z-index: 2;
    }
    .personal-desc-container {
        padding: 20px 50px 20px 50px;
        background-color: white;
        width: 900px;
        display: grid;
        border-radius: 30px;
        grid-auto-flow: column;
        margin-left: auto;
        margin-right: auto;
    }
    .personal-more-container {
        display: grid;
        grid-auto-flow: column;
        font-size: 18px;
    }
    .personal-photo {
        width: 200px;
        float: right;
    }
    .personal-info-footer {
        margin-top: 20px;
    }
    .facebook,
    .whatsapp,
    .instagram,
    .github {
        width: 35px;
        margin-right: 20px;
    }
    /* End of Personal Info Section */

    /* Personal More Description Section */
    .personal-more-description {
        margin-top: -8vw;
    }
    .personal-description-container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 50px 20px 50px;
        background-color: white;
        border-radius: 30px;
    }
    .personal-description-text {
        font-size: 17px;
        line-height: 25px;
        text-align: justify;
        border-bottom: 1px solid aqua;
    }
    .personal-cv {
       margin-top: 30px;
       text-align: center;
    }
    .download {
        background-color: blueviolet;
        color: white;
        text-decoration: none;
        padding: 5px 30px 5px 30px;
        border-radius: 15px;
    }
    /* End of Personal More Description Section */
    /* RPL Upi Section */
    .rpl-upi {
        overflow: hidden;
        display: none;
    }
    .rpl-header img {
        position: relative;
        top: -5vw;
        width: 100%;
        z-index: -1;
    }
    .rpl-header-text {
        color: white;
        position: relative;
        top: -15vw;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }
    .rpl-upi-desc {
        margin-top: -11vw;
        background-color: white;
        padding: 20px 50px 20px 50px;
        line-height: 25px;
        border-radius: 30px;
        text-align: justify;
    }
    .list li {
        list-style: decimal;
    }
    /* End of RPL UPI section */
    /* KBK RPL Section */
    .kbk-rpl {
        display: none;
    }
    .kbk-container {
        margin-top: -11vw;
        background-color: white;
        padding: 40px 50px 40px 50px;
        border-radius: 30px;
    }
    .kbk-title {
        font-size: 30px;
        margin-bottom: 50px;
        text-align: center;
    }
    table, td, th {
        text-align: center;
        padding: 20px 50px 20px 50px;
        border: 1px solid;
        border-color: darkslategray;
    }
    thead {
        background-color: blueviolet;
        color: whitesmoke;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }
    .active {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }